/*Not change*/
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     font-family: sans-serif;
}

.allPage{
     background: #F2F2F2;
}

.mobileVision{
     height: auto;
     width: 360px;
}

/*header style*/
header{
     height: 50px;
     width: 360px;
     background: #1877F2;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     position: fixed;
}

.logoArea{
     /*Image: W=720, H=200, T=175*/
     height: 35px;
     width: 125px;
     margin-left: 10px;
     background: url('https://lh3.googleusercontent.com/pw/AM-JKLW1SuEJDAggtNh_r8m2mpafbKzN8k63HlI5sqUxeJJTizSGnxyI-nBR5xfybe9wXrDGDFBNXSRe-Q1qHBQW7fEgUCLN0DLwv1hoFj8V1Pdjx-YPvfXBcNgI6oZbCNq3G0XL73GQv0bS6DVqiOvx-dCI=w720-h200-no');
     background-size: cover;
}

/*main style*/
.mainOn, .mainOff{
     height: 110vh;
     padding-top: 50px;
     background: #FFF;
}

/*ad style*/
.redirectAd{
     text-decoration: none;
}

.bannerAd{
     height: 60px;
     width: 95%;
     margin-top: 10px;
     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
     cursor: pointer;
}

.adText{
     color: #FFF;
     font-size: 8px;
     font-weight: 400;
     margin: 5px;
}

/*video infos*/
.titleVideoArea{
     width: 95%;
     margin-top: 20px;
     display: flex;
     flex-direction: column;
     text-align: left;
     background: none;
}

.titleVideo{
     font-size: 23px;
}

.timeVideo{
     height: 18px;
     width: 50px;
     margin-top: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
     background: #61BE00;
}

.timeVideoText{
     color: #FFF;
     font-size: 12px;
     font-weight: bold;
}

.thumbVideo{
     height: 210px;
     width: 100%;
     margin-top: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: url('https://embed.brasiltudoliberado.com/_images/thumbs/2018/04/irmao-come-irma-escondido-da-mae-e-quase-sao-flagrados-4fb71efdb6925cb420d1977d97e18090.jpg');
     background-size: cover;
}

.playVideo{
     height: 150px;
}

/*mainOff*/
.manutencaoActived{
     height: 160px;
     width: 320px;
     margin-top: 10px;
     display: inline-block;
     justify-content: center;
     align-items: flex-start;
     border: 1.6px solid #FF4D55;
     background: #FFA3A8;
}

.offlineText{
     color: #000;
     font-size: 17px;
     margin-top: 12px;
}

.offlineSubText{
     color: #FF4D55;
     width: 90%;
     font-size: 15px;
     margin-top: 7px;
}

footer{
     width: 360px;
     text-align: left;
     padding: 10px;
     background: #FFF;
     border-top: 1.5px solid #E0E0E0;
}

.footerText{
     color: #B8B8B8;
     font-size: 12px;
}
